/* line 6, ../PreEntrega3_Rotkier/sass/estilos.scss */
* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "OpenSans";
  src: url("../assets/font/OpenSans-Regular.ttf");
}

@font-face {
  font-family: "OpenSans-Bold";
  src: url("../assets/font/OpenSans-Bold.ttf");
}

/* line 20, ../PreEntrega3_Rotkier/sass/estilos.scss */
body {
  font-family: "Roboto", sans-serif;
  background-color: white;
  padding-top: 140px;
}

/* line 26, ../PreEntrega3_Rotkier/sass/estilos.scss */
a {
  cursor: pointer;
  color: black;
  text-decoration: none;
}

/* line 32, ../PreEntrega3_Rotkier/sass/estilos.scss */
#navbarNav ul li a {
  color: #017480;
  transition: all 0.2s ease-in-out;
  padding-left: 2rem;
}

/* line 36, ../PreEntrega3_Rotkier/sass/estilos.scss */
#navbarNav ul li a:hover {
  color: #aeb4b6;
}

/* line 41, ../PreEntrega3_Rotkier/sass/estilos.scss */
.hero {
  background-image: url(../assets/img/hero.jpg);
  height: 700px;
  background-repeat: no-repeat;
  background-position: center;
}

/* line 48, ../PreEntrega3_Rotkier/sass/estilos.scss */
.linea {
  width: 100px;
  height: 1px;
  margin: 0 auto;
  border-bottom: 2px solid #017480;
}

/* line 54, ../PreEntrega3_Rotkier/sass/estilos.scss */
.sobre-nosotros {
  color: #333333;
  font-family: "OpenSans", sans-serif;
}

/* line 58, ../PreEntrega3_Rotkier/sass/estilos.scss */
.sobre-nosotros h2 {
  padding-top: 30px;
  text-align: center;
  margin: 0 auto;
  color: #017480;
  text-transform: uppercase;
}

/* line 65, ../PreEntrega3_Rotkier/sass/estilos.scss */
.sobre-nosotros p {
  font-size: 18px;
  line-height: 27px;
  padding: 30px 0;
}

/* line 72, ../PreEntrega3_Rotkier/sass/estilos.scss */
img {
  max-width: 100%;
  height: auto;
}

/* line 77, ../PreEntrega3_Rotkier/sass/estilos.scss */
.fotos-index {
  margin: 0 auto;
  margin-bottom: 100px;
}

/* line 81, ../PreEntrega3_Rotkier/sass/estilos.scss */
.fotos-index img {
  filter: grayscale(80%);
  transition: all 0.2s ease-in-out;
}

/* line 84, ../PreEntrega3_Rotkier/sass/estilos.scss */
.fotos-index img:hover {
  filter: none;
  transform: scale(1.02);
}

/* line 91, ../PreEntrega3_Rotkier/sass/estilos.scss */
h1 {
  padding-top: 15px;
  margin: 0 auto;
  text-align: center;
  color: #017480;
  text-transform: uppercase;
  font-family: "OpenSans", sans-serif;
  margin-bottom: 50px;
}

/* Galeria de productos con Grid */
/* line 103, ../PreEntrega3_Rotkier/sass/estilos.scss */
#galeria {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 15px;
}

/* line 108, ../PreEntrega3_Rotkier/sass/estilos.scss */
#galeria img {
  max-width: 100%;
  height: auto;
  transition: all 0.2s ease-in-out;
}

/* line 112, ../PreEntrega3_Rotkier/sass/estilos.scss */
#galeria img:hover {
  transform: scale(1.03);
}

/* line 117, ../PreEntrega3_Rotkier/sass/estilos.scss */
.galeria {
  padding-top: 100px;
}

/* Nav Bootstrap */
/* line 122, ../PreEntrega3_Rotkier/sass/estilos.scss */
.container-fluid {
  width: 80%;
  margin: 0 auto;
}

/* line 126, ../PreEntrega3_Rotkier/sass/estilos.scss */
.navbar-expand-lg {
  box-shadow: 0px 0px 5px #082e32;
}

/* line 130, ../PreEntrega3_Rotkier/sass/estilos.scss */
.navbar-brand img {
  height: 140px;
  transition: all 0.2s ease-in-out;
}

/* line 133, ../PreEntrega3_Rotkier/sass/estilos.scss */
.navbar-brand img:hover {
  transform: scale(1.1);
}

/* line 138, ../PreEntrega3_Rotkier/sass/estilos.scss */
.ms-auto {
  text-align: right;
}

/* line 142, ../PreEntrega3_Rotkier/sass/estilos.scss */
.show-mobile {
  display: none;
}

/* line 146, ../PreEntrega3_Rotkier/sass/estilos.scss */
.titulos {
  margin-top: 120px;
}

/* Formulario */
/* line 151, ../PreEntrega3_Rotkier/sass/estilos.scss */
.my-form .btn {
  background-color: #082e32;
  color: #fff;
  transition: all 0.3s ease-in-out;
  border: none;
  margin-right: 20px;
  padding: 6px 18px;
  border-radius: 5px;
  font-weight: 300;
  font-size: 1.15rem;
}

/* line 161, ../PreEntrega3_Rotkier/sass/estilos.scss */
.my-form .btn:hover {
  background-color: #017480;
}

/* line 167, ../PreEntrega3_Rotkier/sass/estilos.scss */
.form-control {
  border-radius: 0;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  font-weight: 300;
  font-size: 1.15rem;
  margin-bottom: 10px;
}

/* line 175, ../PreEntrega3_Rotkier/sass/estilos.scss */
.form-control:focus {
  box-shadow: none;
  border-bottom: 1px solid #01748069;
}

/* line 179, ../PreEntrega3_Rotkier/sass/estilos.scss */
.form-control::placeholder {
  opacity: 0.5;
}

/* line 183, ../PreEntrega3_Rotkier/sass/estilos.scss */
label {
  margin-bottom: 10px;
  font-size: 1.15rem;
  font-weight: 300;
}

/* line 188, ../PreEntrega3_Rotkier/sass/estilos.scss */
input:focus::placeholder {
  color: transparent;
}

/* line 192, ../PreEntrega3_Rotkier/sass/estilos.scss */
textarea:focus::placeholder {
  color: transparent;
}

/* line 196, ../PreEntrega3_Rotkier/sass/estilos.scss */
.form-group {
  color: #017480;
}

/* Fin Formulario */
/* line 201, ../PreEntrega3_Rotkier/sass/estilos.scss */
.info-alojamiento {
  background-color: #e1e1e1;
}

/* line 203, ../PreEntrega3_Rotkier/sass/estilos.scss */
.info-alojamiento h3,
.info-alojamiento h4 {
  color: #017480;
}

/* line 209, ../PreEntrega3_Rotkier/sass/estilos.scss */
.mas-info {
  transition: all 0.2s ease-in-out;
}

/* line 211, ../PreEntrega3_Rotkier/sass/estilos.scss */
.mas-info:hover {
  background-color: #e1e1e1;
}

/* Footer */
/* line 217, ../PreEntrega3_Rotkier/sass/estilos.scss */
.footer {
  background: #082e32;
  color: rgba(255, 255, 255, 0.5);
}

/* line 220, ../PreEntrega3_Rotkier/sass/estilos.scss */
.footer ul {
  list-style-type: none;
}

/* line 225, ../PreEntrega3_Rotkier/sass/estilos.scss */
.links {
  padding: 10px 0 50px 0;
}

/* line 228, ../PreEntrega3_Rotkier/sass/estilos.scss */
.links ul > li > a {
  color: rgba(255, 255, 255, 0.5);
  transition: color 0.2s;
}

/* line 231, ../PreEntrega3_Rotkier/sass/estilos.scss */
.links ul > li > a:hover {
  color: #017480;
  transition: all 0.2s ease-in-out;
}

/* line 238, ../PreEntrega3_Rotkier/sass/estilos.scss */
.location a {
  color: rgba(255, 255, 255, 0.5);
  transition: color 0.2s;
}

/* line 241, ../PreEntrega3_Rotkier/sass/estilos.scss */
.location a:hover {
  color: #017480;
  transition: all 0.2s ease-in-out;
}

/* line 247, ../PreEntrega3_Rotkier/sass/estilos.scss */
i {
  font-size: 25px;
  color: rgba(255, 255, 255, 0.5);
  padding-right: 20px;
}

/* line 253, ../PreEntrega3_Rotkier/sass/estilos.scss */
.texto-footer {
  padding-bottom: 30px;
}

/* line 256, ../PreEntrega3_Rotkier/sass/estilos.scss */
.texto-footer i:hover {
  color: #017480;
  transition: all 0.2s ease-in-out;
}

/* line 261, ../PreEntrega3_Rotkier/sass/estilos.scss */
.copyright p {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding-top: 10px;
}

/* Fin Footer */
/* ---------- Media queries Tablet ----------*/
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  /* line 269, ../PreEntrega3_Rotkier/sass/estilos.scss */
  .links,
  .texto-footer,
  .location,
  .copyright {
    text-align: center;
    padding: 10px;
  }
}

/* ---------- Media queries Mobile ----------*/
@media only screen and (max-width: 768px) {
  /* line 281, ../PreEntrega3_Rotkier/sass/estilos.scss */
  body {
    padding-top: 0;
  }
  /* line 284, ../PreEntrega3_Rotkier/sass/estilos.scss */
  .navbar-toggler-icon {
    color: white;
  }
  /* line 288, ../PreEntrega3_Rotkier/sass/estilos.scss */
  .navbar-brand img {
    height: 90px;
  }
  /* line 292, ../PreEntrega3_Rotkier/sass/estilos.scss */
  .navbar-collapse {
    padding-bottom: 40px;
  }
  /* line 296, ../PreEntrega3_Rotkier/sass/estilos.scss */
  .sobre-nosotros {
    padding-top: 50px;
    width: 90%;
    margin-top: 0;
  }
  /* line 300, ../PreEntrega3_Rotkier/sass/estilos.scss */
  .sobre-nosotros p {
    font-size: 15px;
  }
  /* line 305, ../PreEntrega3_Rotkier/sass/estilos.scss */
  .show-mobile {
    display: block;
    text-align: center;
  }
  /* line 309, ../PreEntrega3_Rotkier/sass/estilos.scss */
  .show-desktop {
    display: none;
  }
  /* line 313, ../PreEntrega3_Rotkier/sass/estilos.scss */
  .fotos-index {
    margin-bottom: 0;
    padding: 0;
  }
  /* line 318, ../PreEntrega3_Rotkier/sass/estilos.scss */
  .links,
  .texto-footer,
  .location,
  .copyright {
    text-align: center;
    padding: 10px;
  }
  /* line 326, ../PreEntrega3_Rotkier/sass/estilos.scss */
  .links {
    margin: 0 auto;
    width: 90%;
    border-top: 2px solid rgba(255, 255, 255, 0.1);
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  }
  /* line 333, ../PreEntrega3_Rotkier/sass/estilos.scss */
  .location i {
    padding-right: 10px;
  }
  /* Por si quiero 2 columnas en la Galeria en mobile */
  /* 
  #galeria {
    grid-template-columns: repeat(auto-fit, minmax(150px, 2fr));
   }
  */
  /* line 342, ../PreEntrega3_Rotkier/sass/estilos.scss */
  .galeria {
    padding-top: 170px;
  }
}

/*# sourceMappingURL=estilos.css.map */