/* line 1, ../PreEntrega3_Rotkier/sass/estilos.scss */
* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "OpenSans";
  src: url("../assets/font/OpenSans-Regular.ttf");
}

@font-face {
  font-family: "OpenSans-Bold";
  src: url("../assets/font/OpenSans-Bold.ttf");
}

/* line 16, ../PreEntrega3_Rotkier/sass/estilos.scss */
body {
  font-family: "Roboto", sans-serif;
  background-color: white;
  padding-top: 140px;
}

/* line 22, ../PreEntrega3_Rotkier/sass/estilos.scss */
a {
  cursor: pointer;
  color: black;
  text-decoration: none;
}

/* line 28, ../PreEntrega3_Rotkier/sass/estilos.scss */
#navbarNav ul li a {
  color: #017480;
  transition: all 0.2s ease-in-out;
}

/* line 32, ../PreEntrega3_Rotkier/sass/estilos.scss */
#navbarNav ul li a:hover {
  color: #aeb4b6;
}

/* line 35, ../PreEntrega3_Rotkier/sass/estilos.scss */
#bienvenido {
  background-image: url(../assets/img/hero.jpg);
  width: 100%;
  height: 800px;
  padding: 120px 120px 0 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/* line 46, ../PreEntrega3_Rotkier/sass/estilos.scss */
#bienvenido h1 {
  font-size: 55px;
  line-height: 70px;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  border: none;
}

/* line 55, ../PreEntrega3_Rotkier/sass/estilos.scss */
.bienvenido-text {
  width: 40%;
  padding: 100px 0;
}

/* line 60, ../PreEntrega3_Rotkier/sass/estilos.scss */
main p {
  font-size: 18px;
  line-height: 27px;
  color: #fff;
}

/* line 66, ../PreEntrega3_Rotkier/sass/estilos.scss */
.sobre-nosotros {
  color: #333333;
  font-family: "OpenSans", sans-serif;
}

/* line 71, ../PreEntrega3_Rotkier/sass/estilos.scss */
.sobre-nosotros h2 {
  border-top: 2px solid #0c7a85;
  padding-top: 30px;
  width: fit-content;
  margin: 0 auto;
  color: #0c7a85;
  text-transform: uppercase;
}

/* line 80, ../PreEntrega3_Rotkier/sass/estilos.scss */
.sobre-nosotros p {
  font-size: 18px;
  line-height: 27px;
  padding: 30px 0;
}

/* line 86, ../PreEntrega3_Rotkier/sass/estilos.scss */
img {
  max-width: 100%;
  height: auto;
}

/* line 91, ../PreEntrega3_Rotkier/sass/estilos.scss */
.fotos-index {
  margin: 0 auto;
  width: fit-content;
  margin-bottom: 100px;
}

/* line 97, ../PreEntrega3_Rotkier/sass/estilos.scss */
#bienvenido > div {
  margin-left: 0;
}

/* line 101, ../PreEntrega3_Rotkier/sass/estilos.scss */
h1 {
  border-top: 2px solid #0c7a85;
  padding-top: 15px;
  width: fit-content;
  margin: 0 auto;
  color: #0c7a85;
  text-transform: uppercase;
  font-family: "OpenSans", sans-serif;
  margin-bottom: 50px;
}

/* Galeria de productos con Grid */
/* line 114, ../PreEntrega3_Rotkier/sass/estilos.scss */
#galeria img {
  max-width: 100%;
  height: auto;
}

/* line 119, ../PreEntrega3_Rotkier/sass/estilos.scss */
#galeria {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 15px;
}

/* line 124, ../PreEntrega3_Rotkier/sass/estilos.scss */
.galeria {
  padding-top: 100px;
}

/* Nav Bootstrap */
/* line 129, ../PreEntrega3_Rotkier/sass/estilos.scss */
.container-fluid {
  width: 80%;
  margin: 0 auto;
}

/* line 133, ../PreEntrega3_Rotkier/sass/estilos.scss */
.navbar-expand-lg {
  box-shadow: 0px 0px 5px #082e32;
}

/* line 137, ../PreEntrega3_Rotkier/sass/estilos.scss */
.navbar-brand img {
  height: 140px;
}

/* line 141, ../PreEntrega3_Rotkier/sass/estilos.scss */
.ms-auto {
  text-align: right;
}

/* line 145, ../PreEntrega3_Rotkier/sass/estilos.scss */
.show-mobile {
  display: none;
}

/* line 149, ../PreEntrega3_Rotkier/sass/estilos.scss */
.titulos {
  margin-top: 120px;
}

/* Formulario */
/* line 153, ../PreEntrega3_Rotkier/sass/estilos.scss */
.my-form {
  color: #082e32;
}

/* line 156, ../PreEntrega3_Rotkier/sass/estilos.scss */
.my-form .btn-default {
  background-color: #305896;
  color: #fff;
  border-radius: 0;
}

/* line 161, ../PreEntrega3_Rotkier/sass/estilos.scss */
.my-form .btn-default:hover {
  background-color: #4498c6;
  color: #fff;
}

/* line 166, ../PreEntrega3_Rotkier/sass/estilos.scss */
.my-form .form-control {
  border-radius: 0;
}

/* Fin Formulario */
/* Footer */
/* line 173, ../PreEntrega3_Rotkier/sass/estilos.scss */
.footer {
  background: #082e32;
  color: rgba(255, 255, 255, 0.5);
}

/* line 178, ../PreEntrega3_Rotkier/sass/estilos.scss */
.footer ul {
  list-style-type: none;
}

/* line 182, ../PreEntrega3_Rotkier/sass/estilos.scss */
.links > ul > li > a {
  color: rgba(255, 255, 255, 0.5);
  transition: color 0.2s;
}

/* line 186, ../PreEntrega3_Rotkier/sass/estilos.scss */
.links > ul > li > a:hover {
  color: #017480;
  transition: all 0.2s ease-in-out;
}

/* line 191, ../PreEntrega3_Rotkier/sass/estilos.scss */
ul li:before {
  display: none;
}

/* line 195, ../PreEntrega3_Rotkier/sass/estilos.scss */
i {
  font-size: 25px;
  color: rgba(255, 255, 255, 0.5);
  padding-right: 20px;
}

/* line 200, ../PreEntrega3_Rotkier/sass/estilos.scss */
.texto-footer {
  padding-bottom: 30px;
}

/* line 204, ../PreEntrega3_Rotkier/sass/estilos.scss */
.texto-footer i:hover {
  color: #017480;
  transition: all 0.2s ease-in-out;
}

/* line 209, ../PreEntrega3_Rotkier/sass/estilos.scss */
.links {
  padding: 10px 0 50px 0;
}

/* line 213, ../PreEntrega3_Rotkier/sass/estilos.scss */
.copyright p {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding-top: 10px;
}

/* Fin Footer */
/* ---------- Media queries Tablet ----------*/
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  /* line 221, ../PreEntrega3_Rotkier/sass/estilos.scss */
  .links,
  .texto-footer,
  .location,
  .copyright {
    text-align: center;
    padding: 10px;
  }
  /* line 228, ../PreEntrega3_Rotkier/sass/estilos.scss */
  #bienvenido {
    padding: 0;
    height: auto;
    background-position: center;
  }
  /* line 234, ../PreEntrega3_Rotkier/sass/estilos.scss */
  .bienvenido-text {
    width: 100%;
    margin: 0 auto;
    padding: 70px 0;
  }
  /* line 240, ../PreEntrega3_Rotkier/sass/estilos.scss */
  #bienvenido h1 {
    font-size: 30px;
    margin: 0;
  }
  /* line 244, ../PreEntrega3_Rotkier/sass/estilos.scss */
  #bienvenido > div {
    margin-left: 100px;
  }
}

/* ---------- Media queries Mobile ----------*/
@media only screen and (max-width: 768px) {
  /* line 252, ../PreEntrega3_Rotkier/sass/estilos.scss */
  body {
    padding-top: 0;
  }
  /* line 255, ../PreEntrega3_Rotkier/sass/estilos.scss */
  .container {
    padding: 45px 20px 80px 20px;
  }
  /* line 258, ../PreEntrega3_Rotkier/sass/estilos.scss */
  .bg-white {
    background-color: #ff000000;
  }
  /* line 261, ../PreEntrega3_Rotkier/sass/estilos.scss */
  .navbar-toggler-icon {
    color: white;
  }
  /* line 265, ../PreEntrega3_Rotkier/sass/estilos.scss */
  .navbar-brand img {
    height: 90px;
  }
  /* line 269, ../PreEntrega3_Rotkier/sass/estilos.scss */
  .navbar-collapse {
    padding-bottom: 40px;
  }
  /* line 273, ../PreEntrega3_Rotkier/sass/estilos.scss */
  #bienvenido {
    padding: 120px 0 0 0;
    background-image: url(../assets/img/hero-mobile.jpg);
    height: 400px;
    background-position: inherit;
    background-repeat: no-repeat;
    background-size: 100%;
  }
  /* line 282, ../PreEntrega3_Rotkier/sass/estilos.scss */
  #bienvenido > div {
    width: 100%;
    padding-bottom: 0;
  }
  /* line 287, ../PreEntrega3_Rotkier/sass/estilos.scss */
  #bienvenido h1 {
    border: none;
    font-size: 35px;
    line-height: 40px;
    margin-bottom: 0;
  }
  /* line 294, ../PreEntrega3_Rotkier/sass/estilos.scss */
  .sobre-nosotros {
    padding-top: 50px;
    width: 90%;
    margin-top: 0;
  }
  /* line 300, ../PreEntrega3_Rotkier/sass/estilos.scss */
  .sobre-nosotros p {
    font-size: 15px;
  }
  /* line 304, ../PreEntrega3_Rotkier/sass/estilos.scss */
  .show-mobile {
    display: block;
    text-align: center;
  }
  /* line 308, ../PreEntrega3_Rotkier/sass/estilos.scss */
  .show-desktop {
    display: none;
  }
  /* line 312, ../PreEntrega3_Rotkier/sass/estilos.scss */
  .fotos-index {
    margin-bottom: 0;
    padding: 0;
  }
  /* line 317, ../PreEntrega3_Rotkier/sass/estilos.scss */
  .links,
  .texto-footer,
  .location,
  .copyright {
    text-align: center;
    padding: 10px;
  }
  /* line 325, ../PreEntrega3_Rotkier/sass/estilos.scss */
  .links {
    border-top: 1px solid rgba(255, 255, 255, 0.149);
    border-bottom: 1px double rgba(255, 255, 255, 0.115);
  }
  /* line 330, ../PreEntrega3_Rotkier/sass/estilos.scss */
  .location i {
    padding-right: 10px;
  }
  /* line 333, ../PreEntrega3_Rotkier/sass/estilos.scss */
  #galeria {
    grid-template-columns: repeat(auto-fit, minmax(150px, 2fr));
  }
  /* line 336, ../PreEntrega3_Rotkier/sass/estilos.scss */
  .galeria {
    padding-top: 170px;
  }
}

/*# sourceMappingURL=estilos.css.map */