* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "OpenSans";
  src: url("../assets/font/OpenSans-Regular.ttf");
}

@font-face {
  font-family: "OpenSans-Bold";
  src: url("../assets/font/OpenSans-Bold.ttf");
}

body {
  font-family: "Roboto", sans-serif;
  background-color: white;
  padding-top: 140px;
}

a {
  cursor: pointer;
  color: black;
  text-decoration: none;
}

#navbarNav ul li a {
  color: #017480;
  transition: all 0.2s ease-in-out;
  padding-left: 2rem;
  &:hover {
    color: rgb(174, 180, 182);
  }
}

#bienvenido {
  background-image: url(../assets/img/hero.jpg);
  width: 100%;
  height: 800px;
  padding: 120px 120px 0 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  h1 {
    font-size: 55px;
    line-height: 70px;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    border: none;
  }
}

.bienvenido-text {
  width: 40%;
  padding: 100px 0;
  p {
    color: white;
    font-size: 18px;
    line-height: 27px;
  }
}

.sobre-nosotros {
  color: rgb(51, 51, 51);
  font-family: "OpenSans", sans-serif;

  h2 {
    border-top: 2px solid #0c7a85;
    padding-top: 30px;
    width: fit-content;
    margin: 0 auto;
    color: #0c7a85;
    text-transform: uppercase;
  }
  p {
    font-size: 18px;
    line-height: 27px;
    padding: 30px 0;
  }
}

img {
  max-width: 100%;
  height: auto;
}

.fotos-index {
  margin: 0 auto;
  width: fit-content;
  margin-bottom: 100px;
}

#bienvenido > div {
  margin-left: 0;
}

h1 {
  border-top: 2px solid #0c7a85;
  padding-top: 15px;
  width: fit-content;
  margin: 0 auto;
  color: #0c7a85;
  text-transform: uppercase;
  font-family: "OpenSans", sans-serif;
  margin-bottom: 50px;
}

/* Galeria de productos con Grid */

#galeria {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 15px;

  img {
    max-width: 100%;
    height: auto;
  }
}
.galeria {
  padding-top: 100px;
}
/* Nav Bootstrap */

.container-fluid {
  width: 80%;
  margin: 0 auto;
}
.navbar-expand-lg {
  box-shadow: 0px 0px 5px #082e32;
}

.navbar-brand img {
  height: 140px;
}

.ms-auto {
  text-align: right;
}

.show-mobile {
  display: none;
}

.titulos {
  margin-top: 120px;
}
/* Formulario */
.my-form {
  color: #082e32;

  .btn-default {
    background-color: #305896;
    color: #fff;
    border-radius: 0;

    &:hover {
      background-color: #4498c6;
      color: #fff;
    }
  }
  .form-control {
    border-radius: 0;
  }
}
/* Fin Formulario */

/* Footer */
.footer {
  background: #082e32;
  color: rgba(255, 255, 255, 0.5);
  ul {
    list-style-type: none;
  }
}

.links {
  padding: 10px 0 50px 0;

  ul > li > a {
    color: rgba(255, 255, 255, 0.5);
    transition: color 0.2s;
    &:hover {
      color: #017480;
      transition: all 0.2s ease-in-out;
    }
  }
}

i {
  font-size: 25px;
  color: rgba(255, 255, 255, 0.5);
  padding-right: 20px;
}

.texto-footer {
  padding-bottom: 30px;

  i:hover {
    color: #017480;
    transition: all 0.2s ease-in-out;
  }
}
.copyright p {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding-top: 10px;
}
/* Fin Footer */

/* ---------- Media queries Tablet ----------*/
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .links,
  .texto-footer,
  .location,
  .copyright {
    text-align: center;
    padding: 10px;
  }
  #bienvenido {
    padding: 0;
    height: auto;
    background-position: center;
    h1 {
      font-size: 30px;
      margin: 0;
    }
  }
  .bienvenido-text {
    width: 100%;
    margin: 0 auto;
    padding: 70px 0;
  }
}

.mas-info {
  transition: all 0.2s ease-in-out;
  &:hover {
    background-color: #e1e1e1;
  }
}

/* ---------- Media queries Mobile ----------*/

@media only screen and (max-width: 768px) {
  body {
    padding-top: 0;
  }
  .bg-white {
    background-color: #ff000000;
  }
  .navbar-toggler-icon {
    color: white;
  }

  .navbar-brand img {
    height: 90px;
  }

  .navbar-collapse {
    padding-bottom: 40px;
  }

  #bienvenido {
    padding: 120px 0 0 0;
    // background-image: url(../assets/img/hero-mobile.jpg);
    height: 400px;
    background-position: inherit;
    background-repeat: no-repeat;
    background-size: 100%;

    div {
      width: 100%;
      padding-bottom: 0;
    }

    h1 {
      border: none;
      font-size: 35px;
      line-height: 40px;
      margin-bottom: 0;
    }
  }

  .sobre-nosotros {
    padding-top: 50px;
    width: 90%;
    margin-top: 0;
    p {
      font-size: 15px;
    }
  }

  .show-mobile {
    display: block;
    text-align: center;
  }
  .show-desktop {
    display: none;
  }

  .fotos-index {
    margin-bottom: 0;
    padding: 0;
  }

  .links,
  .texto-footer,
  .location,
  .copyright {
    text-align: center;
    padding: 10px;
  }

  .links {
    border-top: 1px solid rgba(255, 255, 255, 0.149);
    border-bottom: 1px double rgba(255, 255, 255, 0.115);
  }

  .location i {
    padding-right: 10px;
  }
  #galeria {
    grid-template-columns: repeat(auto-fit, minmax(150px, 2fr));
  }
  .galeria {
    padding-top: 170px;
  }
}
